.footer {
  margin-top: auto;
  background: var(--mainBlack);
  text-align: center;
  color: var(--mainWhite);
  position: relative;

}
.back-to-top {
  width: 4rem;
  height: 4rem;
  background-color: var(--mainBlack);
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.back-to-top div svg {
  animation: up 2s infinite;
}

.footer-title {
  position: relative;
  font-size: 18px;
  margin-bottom: 25px;
  color: var(--mainWhite);
  text-transform: uppercase;
  font-weight: 800;
}

.footer-bottom {
  background: var(--navbarColor);
}


.nav-social-links a {
  margin: 0 0.5rem;
  transition: var(--mainTransition);
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  background: var(--primaryColor);
  color: #fff;
  font-size: 18px;
  line-height: 36px;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  font-size: 10px;
}

@keyframes up {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}