@import url("https://fonts.googleapis.com/css?family=Poppins|Racing+Sans+One|Montserrat");

:root {
  --primaryColor: #fb4848;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --navbarColor: #2e333a;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 4px;
  --lightShadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-display: swap;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.4;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-display: swap;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}

ul, ol {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

.defaultHero {
  min-height: 50vh;
  background: linear-gradient(rgba(201, 39, 37, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/defaultBcg1.jpeg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.6rem 1.2rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: 2px solid var(--primaryColor);
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.slick-dots button:before {
  font-size: 11px!important;
  color: white!important;
}

.slick-track {
  text-align: center!important;
}

.lines {
  position: relative;
  padding-left: 30px;
}
.lines:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 8px;
  height: 16px;
  background: #36404b;
  transform: skewX(-35deg);
}

.lines:after {
  content: '';
  position: absolute;
  left: 17px;
  top: 2px;
  width: 8px;
  height: 16px;
  background: #fb4848;
  transform: skewX(-35deg);
}

.pattern-background {
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  padding: 20px 30px 80px 40px;
}



.svg-image {
  max-width: 60px;
}

/* Masonry */

.card-columns {
  column-count: 2;
}

/* Breadcrumb */
.breadcrumb {
  background: var(--mainGrey);
  margin-bottom: 0;
}
.breadcrumb__link, .breadcrumb__separator {
  font-size: 18px;
  font-family: "Racing Sans One";
}

.breadcrumb__list {
  align-items: baseline;
}

.breadcrumb__link:hover {
  color: var(--primaryColor);
}
/*
Sidebar title */

.sidebar-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 27px;
  line-height: 1;
}

@media screen and (max-width:768px) {
  .card-columns {
    column-count: 1;
  }
}



@media screen and (min-width: 992px) {
  .defaultHero {
    min-height: 70vh;
  }
}



/* React Tabs */
.react-tabs__tab-list {
  display: flex;
  margin: 0 0 10px;
  padding: 0;
  flex-direction: column;
}
.react-tabs__tab {
  display: inline-block;
  position: relative;
  list-style: none;
  padding: 15px 15px;
  cursor: pointer;
  border-left: 3px solid var(--mainGrey);
}

.react-tabs__tab:hover {
  color: var(--primaryColor);
}

.react-tabs__tab--selected {
  background: #fff;
  color: black;
  border-left: 3px solid var(--primaryColor);
  outline: none;
  transition: .5s linear;
}

.react-tabs__tab-panel {
  display: none;
  box-shadow: 0 10px 15px 2px rgba(170,170,170,0.21);
  border-radius: 2px;
	padding: 20px;
}
.react-tabs__tab-panel:hover {
  box-shadow: 0 10px 15px 2px rgba(251, 72, 72,0.2);
}
.react-tabs__tab-panel--selected {
  display: block;
}


/* End React Tabs */





/* History */


.timeline {
	list-style: none;
	position: relative;
}
.timeline:before {
	top: 22px;
	bottom: 42px;
	position: absolute;
	content: " ";
	border-right: 2px solid var(--mainGrey);
	left: 50%;
}
.timeline > li {
	margin-bottom: 20px;
	position: relative;
}

 .timeline-panel {
  border-color: var(--primaryColor);
}
.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li > .timeline-panel {
	width: 50%;
	float: left;
	border-radius: 2px;
	padding: 20px;
	position: relative;
  box-shadow: 0 10px 15px 2px rgba(170,170,170,0.21);
  transition: .5s ease-out;
}

.timeline > li > .timeline-panel:hover {
  box-shadow: 0 10px 15px 2px rgba(251, 72, 72,0.2);
}

.timeline > li:not(.timeline-inverted) {
	padding-right:90px;
}
.timeline > li.timeline-inverted {
	padding-left:90px;
}
.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #ccc;
	border-right: 0 solid #ccc;
	border-bottom: 15px solid transparent;
	content: " ";
}
.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}
.timeline > li > .timeline-badge, .timeline-sep-title {
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
}
.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}



.timeline > li > .timeline-sep-title {
	line-height: 1.4;
	margin-left: 50px;
	width: auto;
	width: 70px;
    word-wrap: break-word;
}
.timeline > li.timeline-inverted > .timeline-sep-title {
	margin-left: -100px;
}
.timeline-sep-title > span {
	display: block;
	font-size: 14px;
}



.timeline-badge {
  background-color: #fa2964;
}
.timeline > li > .timeline-badge, .timeline-sep-title {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
}

.rounded-circle {
  border-radius: 50%!important;
}

 .timeline-panel:before {
  border-left-color: #fa2964;
  border-right-color: #fa2964;
}

/* End History */

/* Accordion */

.content {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4s ease;
  overflow-x: hidden;
}

.open ~ .content {
  max-height: 1000px !important;
  opacity: 1 !important;
}

/* End Accordion */