@import url("https://fonts.googleapis.com/css?family=Lato|Poppins|Racing+Sans+One");

:root {
  --primaryColor: #fb4848;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --navbarColor: #2e333a;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 4px;
  --lightShadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-display: swap;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.4;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-display: swap;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}

ul, ol {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

.defaultHero {
  min-height: 50vh;
  background: linear-gradient(rgba(201, 39, 37, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/defaultBcg1.jpeg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.6rem 1.2rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: 2px solid var(--primaryColor);
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.slick-dots button:before {
  font-size: 11px!important;
  color: white!important;
}

.slick-track {
  text-align: center!important;
}

.lines {
  position: relative;
  padding-left: 30px;
}
.lines:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 8px;
  height: 16px;
  background: #36404b;
  transform: skewX(-35deg);
}

.lines:after {
  content: '';
  position: absolute;
  left: 17px;
  top: 2px;
  width: 8px;
  height: 16px;
  background: #fb4848;
  transform: skewX(-35deg);
}

@media screen and (min-width: 992px) {
  .defaultHero {
    min-height: 70vh;
  }
}
