.card__image{
    max-width: 100%;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }

  .card {
    position: relative;
    background: var(--navbarColor);
    border-radius: 6px;
    padding: 1rem;
    color: #aaa;
    box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
      0 0 1rem rgba(0,0,0,0.2);
    overflow: hidden;
  }
    .card__image-container {
      margin: -2rem -2rem 1rem -2rem;
    }

    .card__line {
    opacity: 0;
    animation: LineFadeIn .8s .8s forwards ease-in;
    }

    .card__image {
      opacity: 0;
      animation: ImageFadeIn .8s 1.4s forwards;
    }

    .card__title {
      color: white;
      margin-top: 0;
      font-weight: 800;
      letter-spacing: 0.01em;
      padding-bottom: 20px;
      border-bottom: 1px solid #d8d8d8;
    }

    .card__details {
      display: flex;
      list-style: none;
      padding: 1.4em 0 1em;
      margin: 0;
      justify-content: space-between;
    }

    .card__item {
      font-size: 18px;
    }

    .card__value {
      color: #ff4f87;
      margin-left: .35em;
      vertical-align: top;
      font-weight: 600;
    }

    .card__text {
      display: block;
      font-family: var(--primaryColor);
      font-size: 16px;
      color: white;
    }

    .card__content {
      opacity: 0;
      animation: ContentFadeIn .8s 1s forwards;
    }

    .card__button {
      background: var(--primaryColor);
      padding: .45em 1em;
      width: 50%;
      text-align: center;
      border-radius: 5px;
      color: #fff;
      font-weight: 500;
      letter-spacing: .2px;
      border: none;
      font-size: 17px;
      transition: box-shadow 250ms ease, -webkit-transform 250ms ease;
    }

    .card__button:hover {
      cursor: pointer;
      transform: translateY(-3px);
      box-shadow: 0 10px 34px 0 rgba(255, 79, 135, 0.32);
    }

    .card__paragraph {
      width: 100%;
    }

  @keyframes ContentFadeIn {
    0% { transform: translateY(-1rem); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }

  @keyframes ImageFadeIn {
    0% { transform: translate(-.5rem, -.5rem) scale(1.05); opacity: 0; filter: blur(2px); }
    50% { opacity: 1; filter: blur(2px); }
    100% { transform: translateY(0) scale(1.0); opacity: 1; filter: blur(0); }
  }
