.card {
  background-position: center;
  background-size: cover;
  background: #fff;
  border-radius: 10px;
  margin: 0 5px;
}

.card .imgBx {
  width: 100%;
  overflow: hidden;
}

.card .imgBx img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card .details {
  box-sizing: border-box;
  text-align: center;
  padding: 5px;
}
.card .details h6 {
  margin-bottom: 0.25rem;
}
.card .details p {
  color: var(--primaryColor);
  font-size: 13px;
}
