.testimonial {
   background: var(--mainWhite);
}


.text {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: .5px;
}

.name {
    font-size: 20px;
    line-height: 42px;
}

.testimonial-content {
    width: 90%!important;
    color: var(--mainWhite);
}



@media screen and (min-width: 768px) {
    .testimonial-content {
        width: 70%!important;
    }
}