.card {
    font-family: "Montserrat";
    background: var(--mainGrey);
    color: var(--mainBlack);
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none!important;
    transition: all .6s ease;
    border-radius: 10px;
}
.card:hover {
    background: #ccc;
}

.title {
    width: 90%
}
